<a href="https://colab.research.google.com/github/LucasDatilioCarderelli/Maratona_BehindTheCode_IBM21/blob/main/desafio-1/MBTC2021_df1_TotalBan_pt2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MBTC2021_df1-TotalBan_pt2

## Imports

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score, f1_score

## Get Datas

In [ ]:
accounts = pd.read_csv(
    "https://raw.githubusercontent.com/maratonadev/desafio-1-2021/main/assets/data/ACCOUNTS.csv")
demograph = pd.read_csv(
    "https://raw.githubusercontent.com/maratonadev/desafio-1-2021/main/assets/data/DEMOGRAPHICS.csv")
loans = pd.read_csv(
    "https://raw.githubusercontent.com/maratonadev/desafio-1-2021/main/assets/data/LOANS.csv")
answer = pd.read_csv(
    "https://raw.githubusercontent.com/maratonadev/desafio-1-2021/main/assets/data/ANSWERS.csv")

In [ ]:
join = accounts.sort_values("ID").set_index("ID").join(
    [demograph.set_index("ID"), loans.set_index("ID")],
    how="outer")

In [ ]:
answer

          ID CHECKING_BALANCE  PAYMENT_TERM  ... TELEPHONE FOREIGN_WORKER    ALLOW
0    1078506            25.84           465  ...         0              1  TO_FILL
1     947575          -439.72           120  ...         0              1  TO_FILL
2     133043           169.45           527  ...         0              1  TO_FILL
3    1031383      NO_CHECKING           720  ...         0              1  TO_FILL
4     491563      NO_CHECKING           420  ...         1              1  TO_FILL
..       ...              ...           ...  ...       ...            ...      ...
995  1023481      NO_CHECKING          1116  ...         0              0  TO_FILL
996  1211101           -399.5           720  ...         0              1  TO_FILL
997   599972            158.3           558  ...         0              1  TO_FILL
998  1146844      NO_CHECKING          1170  ...         1              1  TO_FILL
999  1089716      NO_CHECKING           960  ...         1              1  TO_FILL

[1000 rows x 22 columns]

## Drop Columns

In [ ]:
unwanted_columns = ["ALLOW", "ID", "CHECKING_BALANCE", "EXISTING_SAVINGS"]
df1 = join.drop(list(set(unwanted_columns) - set(["ID", "ALLOW"])), axis=1)
df2 = answer.drop(unwanted_columns, axis=1)

## Changing Columns

In [ ]:
df1.columns

Index(['CREDIT_HISTORY', 'EXISTING_CREDITS_COUNT', 'SEX', 'AGE', 'JOB_TYPE',
       'DEPENDENTS', 'TELEPHONE', 'FOREIGN_WORKER', 'EMPLOYMENT_DURATION',
       'PROPERTY', 'HOUSING', 'CURRENT_RESIDENCE_DURATION', 'PAYMENT_TERM',
       'INSTALLMENT_PLANS', 'INSTALLMENT_PERCENT', 'LOAN_PURPOSE',
       'LOAN_AMOUNT', 'OTHERS_ON_LOAN', 'ALLOW'],
      dtype='object')

In [ ]:
df2.columns

Index(['PAYMENT_TERM', 'CREDIT_HISTORY', 'LOAN_PURPOSE', 'LOAN_AMOUNT',
       'EMPLOYMENT_DURATION', 'INSTALLMENT_PERCENT', 'SEX', 'OTHERS_ON_LOAN',
       'CURRENT_RESIDENCE_DURATION', 'PROPERTY', 'AGE', 'INSTALLMENT_PLANS',
       'HOUSING', 'EXISTING_CREDITS_COUNT', 'JOB_TYPE', 'DEPENDENTS',
       'TELEPHONE', 'FOREIGN_WORKER'],
      dtype='object')

In [ ]:
cols_df1 = df1.columns
cols_df2 = df2.columns
cols_df1 = cols_df2
df1 = df1[cols_df1]
df1["ALLOW"] = join["ALLOW"]

In [ ]:
df1

         PAYMENT_TERM          CREDIT_HISTORY  ... FOREIGN_WORKER  ALLOW
ID                                             ...
98              961.0    CREDITS_PAID_TO_DATE  ...            1.0      1
317             540.0    CREDITS_PAID_TO_DATE  ...            1.0      1
407             465.0  PRIOR_PAYMENTS_DELAYED  ...            0.0      1
2375            480.0                     NaN  ...            1.0      1
2731            330.0                     NaN  ...            1.0      1
...               ...                     ...  ...            ...    ...
1319170         810.0    CREDITS_PAID_TO_DATE  ...            1.0      1
1319397         330.0  PRIOR_PAYMENTS_DELAYED  ...            1.0      1
1319835         992.0                     NaN  ...            1.0      0
1319964        1140.0      OUTSTANDING_CREDIT  ...            1.0      0
1320082         372.0                     NaN  ...            1.0      1

[3999 rows x 19 columns]

## Changing Types

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3999 entries, 98 to 1320082
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PAYMENT_TERM                3975 non-null   float64
 1   CREDIT_HISTORY              2462 non-null   object
 2   LOAN_PURPOSE                3979 non-null   object
 3   LOAN_AMOUNT                 3981 non-null   float64
 4   EMPLOYMENT_DURATION         3923 non-null   float64
 5   INSTALLMENT_PERCENT         3974 non-null   float64
 6   SEX                         3920 non-null   object
 7   OTHERS_ON_LOAN              3977 non-null   object
 8   CURRENT_RESIDENCE_DURATION  3917 non-null   float64
 9   PROPERTY                    3918 non-null   object
 10  AGE                         3918 non-null   float64
 11  INSTALLMENT_PLANS           3978 non-null   object
 12  HOUSING                     3912 non-null   object
 13  EXISTING_CREDITS_COUNT      2463 non-null   float64
 14  JOB_TYPE                    3910 non-null   float64
 15  DEPENDENTS                  3915 non-null   float64
 16  TELEPHONE                   3915 non-null   float64
 17  FOREIGN_WORKER              3909 non-null   float64
 18  ALLOW                       3999 non-null   int64
dtypes: float64(11), int64(1), object(7)
memory usage: 624.8+ KB

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PAYMENT_TERM                1000 non-null   int64
 1   CREDIT_HISTORY              1000 non-null   object
 2   LOAN_PURPOSE                1000 non-null   object
 3   LOAN_AMOUNT                 1000 non-null   int64
 4   EMPLOYMENT_DURATION         1000 non-null   int64
 5   INSTALLMENT_PERCENT         1000 non-null   int64
 6   SEX                         1000 non-null   object
 7   OTHERS_ON_LOAN              1000 non-null   object
 8   CURRENT_RESIDENCE_DURATION  1000 non-null   int64
 9   PROPERTY                    1000 non-null   object
 10  AGE                         1000 non-null   int64
 11  INSTALLMENT_PLANS           1000 non-null   object
 12  HOUSING                     1000 non-null   object
 13  EXISTING_CREDITS_COUNT      1000 non-null   int64
 14  JOB_TYPE                    1000 non-null   int64
 15  DEPENDENTS                  1000 non-null   int64
 16  TELEPHONE                   1000 non-null   int64
 17  FOREIGN_WORKER              1000 non-null   int64
dtypes: int64(11), object(7)
memory usage: 140.8+ KB

In [ ]:
df1 = df1.dropna()

In [ ]:
floats = df1.select_dtypes(include=['float']).columns
df1[floats] = df1[floats].astype(int)

## Preprocessing

In [ ]:
X = df1.drop("ALLOW", axis=1)
y = df1["ALLOW"]

In [ ]:
enc = OrdinalEncoder()

objs = np.array(X.select_dtypes("object"))
enc.fit(objs)
objs = enc.transform(objs)
X[X.select_dtypes("object").columns] = objs
X

         PAYMENT_TERM  CREDIT_HISTORY  ...  TELEPHONE  FOREIGN_WORKER
ID                                     ...
98                961             1.0  ...          0               1
317               540             1.0  ...          0               1
407               465             4.0  ...          1               0
2893             1050             3.0  ...          1               1
3412              155             0.0  ...          0               1
...               ...             ...  ...        ...             ...
1317323           660             2.0  ...          0               1
1318378           450             1.0  ...          0               1
1319170           810             1.0  ...          0               1
1319397           330             4.0  ...          0               1
1319964          1140             3.0  ...          0               1

[2257 rows x 18 columns]

In [ ]:
objs_df2 = np.array(df2.select_dtypes("object"))
enc.fit(objs_df2)
objs_df2 = enc.transform(objs_df2)
df2[df2.select_dtypes("object").columns] = objs_df2
df2

     PAYMENT_TERM  CREDIT_HISTORY  ...  TELEPHONE  FOREIGN_WORKER
0             465             2.0  ...          0               1
1             120             0.0  ...          0               1
2             527             4.0  ...          0               1
3             720             3.0  ...          0               1
4             420             3.0  ...          1               1
..            ...             ...  ...        ...             ...
995          1116             4.0  ...          0               0
996           720             0.0  ...          0               1
997           558             1.0  ...          0               1
998          1170             4.0  ...          1               1
999           960             4.0  ...          1               1

[1000 rows x 18 columns]

## Modeling

In [ ]:
model = GradientBoostingClassifier(
    learning_rate=0.01, max_depth=5, max_features=0.25, min_samples_leaf=11,
    min_samples_split=20, n_estimators=100, subsample=1.0, random_state=42
)
model.fit(X, y)
allow = model.predict(df2)

In [ ]:
answer["ALLOW"] = allow
answer

          ID CHECKING_BALANCE  PAYMENT_TERM  ... TELEPHONE FOREIGN_WORKER  ALLOW
0    1078506            25.84           465  ...         0              1      1
1     947575          -439.72           120  ...         0              1      1
2     133043           169.45           527  ...         0              1      1
3    1031383      NO_CHECKING           720  ...         0              1      1
4     491563      NO_CHECKING           420  ...         1              1      1
..       ...              ...           ...  ...       ...            ...    ...
995  1023481      NO_CHECKING          1116  ...         0              0      1
996  1211101           -399.5           720  ...         0              1      1
997   599972            158.3           558  ...         0              1      1
998  1146844      NO_CHECKING          1170  ...         1              1      1
999  1089716      NO_CHECKING           960  ...         1              1      0

[1000 rows x 22 columns]

## Submiting

In [ ]:
answer.to_csv("ANSWERS.csv", index=False)

In [ ]:
answer["ALLOW"].value_counts()

1    820
0    180
Name: ALLOW, dtype: int64

In [ ]:
y.value_counts()

1    1481
0     776
Name: ALLOW, dtype: int64