<a href="https://colab.research.google.com/github/LucasDatilioCarderelli/Maratona_BehindTheCode_IBM21/blob/main/desafio-3/MBTC2021_df3_GFT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MBTC2021-df3_GFT

# Part 1

## Imports

In [ ]:
# !pip install apyori
!pip install mlxtend

Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.5)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.19.5)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.3.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.6)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->mlxtend) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=1.5.1->mlxtend) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (3.0.0)

In [ ]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [ ]:
answer = pd.read_csv("https://raw.githubusercontent.com/maratonadev/desafio-3-2021/main/assets/data/ANSWERS.csv")
insurance = pd.read_csv("https://raw.githubusercontent.com/maratonadev/desafio-3-2021/main/assets/data/InsuranceCompanyABC.csv")
investment = pd.read_csv("https://raw.githubusercontent.com/maratonadev/desafio-3-2021/main/assets/data/InvestmentBankCDE.csv")
retail = pd.read_csv("https://raw.githubusercontent.com/maratonadev/desafio-3-2021/main/assets/data/RetailBankEFG.csv")
answer.shape, insurance.shape, investment.shape, retail.shape,

((13730, 31), (10082, 9), (10082, 8), (10082, 10))

In [ ]:
answer.head()

       ID   Idade     Renda  ... CONFIDENCE_2  RECOMMENDATION_3 CONFIDENCE_3
0  1004.0  40.685  8474.687  ...          NaN               NaN          NaN
1  1028.0  56.693  7996.353  ...          NaN               NaN          NaN
2  1034.0  49.413  8624.335  ...          NaN               NaN          NaN
3  1035.0  22.764  6885.196  ...          NaN               NaN          NaN
4  1039.0  22.059  7749.965  ...          NaN               NaN          NaN

[5 rows x 31 columns]

In [ ]:
insurance.head(3)

        ID   Idade     Renda  ... seguro vida Emp  seguro vida PF Seguro Residencial
0  71504.0  42.993  4428.512  ...               T               T                  T
1  59751.0  26.373  4489.930  ...               T               T                  T
2  11877.0  46.977  4567.741  ...               F               F                  F

[3 rows x 9 columns]

In [ ]:
investment.head(3)

        ID  ... Investimento Tesouro Direto
0  71504.0  ...                           F
1  59751.0  ...                           F
2  11877.0  ...                           F

[3 rows x 8 columns]

In [ ]:
retail.head(3)

        ID Financiamento Casa  ... Investimento CDB Investimento Fundos
0  71504.0                  T  ...                T                   F
1  59751.0                  T  ...                F                   T
2  11877.0                  F  ...                F                   F

[3 rows x 10 columns]

## Preprocessing

In [ ]:
def clean_df(df):
    object_columns = df.select_dtypes("object")
    for column in object_columns:
        df[column].replace({"T" : np.True_, "F" : np.False_}, inplace=True)
    return df

In [ ]:
df = insurance.merge(investment, on="ID").merge(retail, on="ID", sort=True)
# df = df.drop_duplicates().set_index("ID")
# df.index = df.index.astype(int).astype(str)
# clean_df(df)
# df = df.iloc[:,4:]
df

             ID   Idade  ...  Investimento CDB Investimento Fundos
0        1004.0  40.685  ...                 T                   F
1        1028.0  56.693  ...                 F                   F
2        1034.0  49.413  ...                 T                   F
3        1035.0  22.764  ...                 F                   F
4        1039.0  22.059  ...                 F                   F
...         ...     ...  ...               ...                 ...
13725  100932.0  28.659  ...                 F                   F
13726  100962.0  20.505  ...                 T                   F
13727  100963.0  21.067  ...                 T                   F
13728  100978.0  43.481  ...                 T                   F
13729  100981.0  41.284  ...                 T                   F

[13730 rows x 25 columns]

In [ ]:
(answer.ID == df.ID).sum()

13730

## Apriori

In [ ]:
frequent_itemsets = apriori(df, min_support=0.10, use_colnames=True, max_len=5)
frequent_itemsets

      support                                           itemsets
0    0.278951                                      (seguro auto)
1    0.342535                                  (seguro vida Emp)
2    0.250182                                   (seguro vida PF)
3    0.332484                               (Seguro Residencial)
4    0.345448                     (Investimento Fundos_cambiais)
..        ...                                                ...
152  0.124545  (Investimento Fundos_commodities, Investimento...
153  0.106701  (Investimento Fundos_commodities, Investimento...
154  0.115222  (Emprestimo _viagem, Investimento CDB, Emprest...
155  0.121413  (Investimento LCI, Investimento Poupanca, Inve...
156  0.102039  (Investimento LCI, Investimento Fundos_commodi...

[157 rows x 2 columns]

In [ ]:
rules = association_rules(frequent_itemsets, metric='confidence', min_threshold=0.80)
rules.sort_values(by="lift", ascending=False)

                                           antecedents  ... conviction
36       (Emprestimo _pessoal, Emprestimo _consignado)  ...  30.757473
34   (Emprestimo _limite_especial, Emprestimo _pess...  ...  18.054518
94            (Investimento CDB, Emprestimo _educacao)  ...   6.224657
90   (Emprestimo _viagem, Investimento CDB, Investi...  ...   7.451860
103  (Investimento LCI, Investimento Fundos_cambiai...  ...   5.188155
..                                                 ...  ...        ...
44           (Emprestimo _viagem, Investimento Fundos)  ...   4.197857
73   (Investimento Fundos_commodities, Investimento...  ...   4.047393
87   (Investimento Fundos_commodities, Investimento...  ...   4.047370
3                               (Emprestimo _educacao)  ...   3.056958
33             (Investimento LCI, Investimento Fundos)  ...   2.566193

[118 rows x 9 columns]

## Recomendation

In [ ]:
# Disable Warning: A value is trying to be set on a copy of a slice from a DataFrame
pd.options.mode.chained_assignment = None

In [ ]:
answer

             ID   Idade     Renda  ... CONFIDENCE_2  RECOMMENDATION_3 CONFIDENCE_3
0        1004.0  40.685  8474.687  ...          NaN               NaN          NaN
1        1028.0  56.693  7996.353  ...          NaN               NaN          NaN
2        1034.0  49.413  8624.335  ...          NaN               NaN          NaN
3        1035.0  22.764  6885.196  ...          NaN               NaN          NaN
4        1039.0  22.059  7749.965  ...          NaN               NaN          NaN
...         ...     ...       ...  ...          ...               ...          ...
13725  100932.0  28.659  8804.506  ...          NaN               NaN          NaN
13726  100962.0  20.505  6809.895  ...          NaN               NaN          NaN
13727  100963.0  21.067  6201.485  ...          NaN               NaN          NaN
13728  100978.0  43.481  8130.084  ...          NaN               NaN          NaN
13729  100981.0  41.284  8226.256  ...          NaN               NaN          NaN

[13730 rows x 31 columns]

In [ ]:
rules[['consequents']].value_counts()

consequents
(Investimento Fundos_commodities)                                  13
(Investimento Fundos_cambiais)                                     13
(Investimento LCI)                                                 13
(Investimento CDB)                                                 10
(Investimento Poupanca)                                             7
(seguro auto)                                                       6
(Seguro Residencial)                                                6
(seguro vida Emp)                                                   6
(Investimento Fundos)                                               4
(Investimento LCA)                                                  4
(seguro vida PF)                                                    4
(Emprestimo _viagem)                                                3
(Investimento Fundos_commodities, Investimento Fundos_cambiais)     2
(seguro auto, Seguro Residencial)                                   2
(Emprestimo _educacao)                                              2
(Investimento LCI, Investimento Fundos_cambiais)                    2
(Emprestimo _viagem, Investimento CDB)                              1
(Emprestimo _viagem, Investimento Fundos)                           1
(Investimento CDB, Investimento Fundos)                             1
(Investimento Fundos_cambiais, Investimento LCA)                    1
(seguro auto, seguro vida PF)                                       1
(Investimento Fundos_commodities, Investimento LCA)                 1
(Investimento Fundos_commodities, Investimento Poupanca)            1
(Investimento LCI, Investimento Fundos_commodities)                 1
(Investimento LCI, Investimento CDB)                                1
(Investimento LCI, Investimento LCA)                                1
(Investimento LCI, Investimento Poupanca)                           1
(Investimento Fundos_cambiais, Investimento CDB)                    1
(Investimento Fundos_cambiais, Investimento Poupanca)               1
(Seguro Residencial, seguro vida PF)                                1
(Seguro Residencial, seguro vida Emp)                               1
(Investimento Fundos_commodities, Investimento CDB)                 1
(Emprestimo _consignado)                                            1
(Emprestimo _pessoal)                                               1
(Emprestimo _limite_especial)                                       1
(seguro vida PF, seguro vida Emp)                                   1
(seguro auto, seguro vida Emp)                                      1
dtype: int64

In [ ]:
rules['consequents'].unique()

array([frozenset({'seguro auto'}), frozenset({'seguro vida Emp'}),
       frozenset({'Seguro Residencial'}), frozenset({'Investimento CDB'}),
       frozenset({'Investimento Fundos'}), frozenset({'seguro vida PF'}),
       frozenset({'seguro auto', 'Seguro Residencial'}),
       frozenset({'Investimento LCI'}),
       frozenset({'Investimento Fundos_cambiais'}),
       frozenset({'Investimento Fundos_commodities'}),
       frozenset({'Investimento Poupanca'}),
       frozenset({'Emprestimo _consignado'}),
       frozenset({'Emprestimo _pessoal'}),
       frozenset({'Emprestimo _limite_especial'}),
       frozenset({'Emprestimo _viagem'}),
       frozenset({'Emprestimo _educacao'}),
       frozenset({'seguro vida PF', 'seguro vida Emp'}),
       frozenset({'Seguro Residencial', 'seguro vida Emp'}),
       frozenset({'Seguro Residencial', 'seguro vida PF'}),
       frozenset({'seguro auto', 'seguro vida Emp'}),
       frozenset({'seguro auto', 'seguro vida PF'}),
       frozenset({'Investimento LCI', 'Investimento Fundos_cambiais'}),
       frozenset({'Investimento LCA'}),
       frozenset({'Investimento CDB', 'Investimento Fundos'}),
       frozenset({'Emprestimo _viagem', 'Investimento Fundos'}),
       frozenset({'Emprestimo _viagem', 'Investimento CDB'}),
       frozenset({'Investimento Fundos_commodities', 'Investimento Fundos_cambiais'}),
       frozenset({'Investimento Fundos_cambiais', 'Investimento LCA'}),
       frozenset({'Investimento Fundos_commodities', 'Investimento LCA'}),
       frozenset({'Investimento Fundos_cambiais', 'Investimento Poupanca'}),
       frozenset({'Investimento Fundos_commodities', 'Investimento Poupanca'}),
       frozenset({'Investimento LCI', 'Investimento Fundos_commodities'}),
       frozenset({'Investimento LCI', 'Investimento LCA'}),
       frozenset({'Investimento LCI', 'Investimento Poupanca'}),
       frozenset({'Investimento Fundos_cambiais', 'Investimento CDB'}),
       frozenset({'Investimento Fundos_commodities', 'Investimento CDB'}),
       frozenset({'Investimento LCI', 'Investimento CDB'})], dtype=object)

In [ ]:
# answer['products'] = np.nan
# for row in answer.index:
#     products = []
#     for col in answer.columns:
#         if answer[col][row] == 'T':
#             products.append(col)
#     answer['products'][row] = products

# count = 0
# for row in range(len(answer)): 
#     if answer['products'][row] in rules['antecedents']:
#         count+=1
# print(count)

In [ ]:
# for row in rules.index:
#     for col in rules['antecedents'][row]:
#         print(col)
#     print(9*'-')

In [ ]:
# # "Emprestimo _limite_especial"
# count = 0
# for row in answer.index:
#     if answer["Emprestimo _consignado"][row] == "T" and \
#        answer["Emprestimo _pessoal"][row] == "T" and \
#        answer["Emprestimo _limite_especial"][row] == "F":
#         answer["RECOMMENDATION_1"][row] = "Emprestimo _limite_especial"
#         count+=1
# print(count)

# Part 2

In [ ]:
flow_output = pd.read_csv("/content/output.csv")
flow_output

             ID   Idade     Renda  ... $A-20 campos-3  $AC-20 campos-3  $A-Rule_ID-3
0        1004.0  40.685  8474.687  ...            NaN              NaN           NaN
1        1028.0  56.693  7996.353  ...            NaN              NaN           NaN
2        1034.0  49.413  8624.335  ...            NaN              NaN           NaN
3        1035.0  22.764  6885.196  ...            NaN              NaN           NaN
4        1039.0  22.059  7749.965  ...            NaN              NaN           NaN
...         ...     ...       ...  ...            ...              ...           ...
13725  100932.0  28.659  8804.506  ...            NaN              NaN           NaN
13726  100962.0  20.505  6809.895  ...            NaN              NaN           NaN
13727  100963.0  21.067  6201.485  ...            NaN              NaN           NaN
13728  100978.0  43.481  8130.084  ...            NaN              NaN           NaN
13729  100981.0  41.284  8226.256  ...            NaN              NaN           NaN

[13730 rows x 34 columns]

In [ ]:
product_columns = flow_output.iloc[:, 5:-9]
for column in product_columns:
    flow_output[column].replace({1 : "T", 0 : "F"}, inplace=True)
flow_output

             ID   Idade     Renda  ... $A-20 campos-3  $AC-20 campos-3 $A-Rule_ID-3
0        1004.0  40.685  8474.687  ...            NaN              NaN          NaN
1        1028.0  56.693  7996.353  ...            NaN              NaN          NaN
2        1034.0  49.413  8624.335  ...            NaN              NaN          NaN
3        1035.0  22.764  6885.196  ...            NaN              NaN          NaN
4        1039.0  22.059  7749.965  ...            NaN              NaN          NaN
...         ...     ...       ...  ...            ...              ...          ...
13725  100932.0  28.659  8804.506  ...            NaN              NaN          NaN
13726  100962.0  20.505  6809.895  ...            NaN              NaN          NaN
13727  100963.0  21.067  6201.485  ...            NaN              NaN          NaN
13728  100978.0  43.481  8130.084  ...            NaN              NaN          NaN
13729  100981.0  41.284  8226.256  ...            NaN              NaN          NaN

[13730 rows x 34 columns]

In [ ]:
flow_output.drop(labels=["$A-Rule_ID-1", 
                         "$A-Rule_ID-2", 
                         "$A-Rule_ID-3"], 
                 axis=1, inplace=True)

In [ ]:
flow_output.rename(columns={
    "$A-20 campos-1":"RECOMMENDATION_1", "$AC-20 campos-1":"CONFIDENCE_1",
    "$A-20 campos-2":"RECOMMENDATION_2", "$AC-20 campos-2":"CONFIDENCE_2",
    "$A-20 campos-3":"RECOMMENDATION_3", "$AC-20 campos-3":"CONFIDENCE_3"
    }, inplace=True)

In [ ]:
flow_output

             ID   Idade     Renda  ... CONFIDENCE_2  RECOMMENDATION_3 CONFIDENCE_3
0        1004.0  40.685  8474.687  ...     0.883252               NaN          NaN
1        1028.0  56.693  7996.353  ...          NaN               NaN          NaN
2        1034.0  49.413  8624.335  ...          NaN               NaN          NaN
3        1035.0  22.764  6885.196  ...          NaN               NaN          NaN
4        1039.0  22.059  7749.965  ...          NaN               NaN          NaN
...         ...     ...       ...  ...          ...               ...          ...
13725  100932.0  28.659  8804.506  ...     0.847374               NaN          NaN
13726  100962.0  20.505  6809.895  ...     0.816572               NaN          NaN
13727  100963.0  21.067  6201.485  ...          NaN               NaN          NaN
13728  100978.0  43.481  8130.084  ...     0.883252               NaN          NaN
13729  100981.0  41.284  8226.256  ...          NaN               NaN          NaN

[13730 rows x 31 columns]

In [ ]:
answer

             ID   Idade     Renda  ... CONFIDENCE_2  RECOMMENDATION_3 CONFIDENCE_3
0        1004.0  40.685  8474.687  ...          NaN               NaN          NaN
1        1028.0  56.693  7996.353  ...          NaN               NaN          NaN
2        1034.0  49.413  8624.335  ...          NaN               NaN          NaN
3        1035.0  22.764  6885.196  ...          NaN               NaN          NaN
4        1039.0  22.059  7749.965  ...          NaN               NaN          NaN
...         ...     ...       ...  ...          ...               ...          ...
13725  100932.0  28.659  8804.506  ...          NaN               NaN          NaN
13726  100962.0  20.505  6809.895  ...          NaN               NaN          NaN
13727  100963.0  21.067  6201.485  ...          NaN               NaN          NaN
13728  100978.0  43.481  8130.084  ...          NaN               NaN          NaN
13729  100981.0  41.284  8226.256  ...          NaN               NaN          NaN

[13730 rows x 31 columns]

In [ ]:
print(flow_output["RECOMMENDATION_1"].unique(), 
      flow_output["RECOMMENDATION_1"].count())

['Investimento Fundos' nan 'Investimento LCI'
 'Investimento Fundos_commodities' 'seguro vida PF' 'seguro auto'
 'Investimento CDB' 'Investimento Poupanca' 'Emprestimo _educacao'
 'Seguro Residencial' 'Investimento Fundos_cambiais' 'Emprestimo _viagem'
 'Emprestimo _pessoal' 'Investimento LCA' 'Emprestimo _consignado'
 'Emprestimo _limite_especial' 'seguro vida Emp'] 5841

In [ ]:
flow_output.to_csv("ANSWERS.csv", index=False)